<launch>

    <!-- signal_arm argument-->
    <!-- left_host arm -->
    <arg name="left_host_serial_port_path" default="/dev/left_arm_host"/>
    <arg name="left_host_joint_states_topic" default="/a1_robot_left/joint_states_host"/>
    <arg name="left_host_control_topic" default="/a1_robot_left/arm_joint_command_host"/>
    <arg name="left_host_arm_status_topic" default="/a1_robot_left/arm_status_host"/>
    <arg name="left_host_gripper_aloha_command_topic" default="/a1_robot_left/gripper_aloha_command_host"/>
    <arg name="left_host_joint_names" default="left_arm_joint1,left_arm_joint2,left_arm_joint3,left_arm_joint4,left_arm_joint5,left_arm_joint6,left_gripper"/>

    <!-- left_slave arm -->
    <arg name="left_slave_serial_port_path" default="/dev/left_arm"/>
    <arg name="left_slave_joint_states_topic" default="/a1_robot_left/joint_states"/>
    <arg name="left_slave_control_topic" default="/a1_robot_left/arm_joint_command"/>
    <arg name="left_slave_arm_status_topic" default="/a1_robot_left/arm_status"/>
    <arg name="left_slave_gripper_aloha_command_topic" default="/a1_robot_left/gripper_aloha_command"/>
    <arg name="left_slave_joint_names" default="left_arm_joint1,left_arm_joint2,left_arm_joint3,left_arm_joint4,left_arm_joint5,left_arm_joint6,left_gripper"/>

    
    <!-- node starter -->

    <!-- left_host arm node -->
    <node pkg="signal_arm" type="iarm_node" name="left_host" output="screen">
        <param name="serial_port_path" value="$(arg left_host_serial_port_path)"/>
        <param name="joint_states_topic" value="$(arg left_host_joint_states_topic)"/>
        <param name="control_topic" value="$(arg left_host_control_topic)"/>
        <param name="arm_status_topic" value="$(arg left_host_arm_status_topic)"/>
        <param name="gripper_topic" value="$(arg left_host_gripper_aloha_command_topic)"/>
        <param name="joint_names" value="$(arg left_host_joint_names)"/>
    </node>

    <!-- left_slave arm node -->
    <node pkg="signal_arm" type="iarm_node" name="left_slave" output="screen">
        <param name="serial_port_path" value="$(arg left_slave_serial_port_path)"/>
        <param name="joint_states_topic" value="$(arg left_slave_joint_states_topic)"/>
        <param name="control_topic" value="$(arg left_slave_control_topic)"/>
        <param name="arm_status_topic" value="$(arg left_slave_arm_status_topic)"/>
        <param name="gripper_topic" value="$(arg left_slave_gripper_aloha_command_topic)"/>
        <param name="joint_names" value="$(arg left_slave_joint_names)"/>
    </node>

      <!-- Enable rviz visualization -->
      <arg name="rviz" default="true" />
      <!-- Set nodes on debug mode -->
      <arg name="debug" default="true" />

      <!-- The URDF model of the robot -->
      <arg name="urdfFile_left_host" value="$(find mobiman)/../r1_urdf/r1_hosturdf/urdf/r1_hosturdf_left_arm.urdf" />
      <arg name="urdfFile_left_slave" value="$(find mobiman)/../r1_urdf/r1_urdf_V104/URDF_R1_V1_0_4/urdf/URDF_R1_V1_0_4_fixed_torso.urdf"/> 
      <arg name="urdfFile_right" value="$(find mobiman)/../r1_urdf/r1_hosturdf/urdf/r1_hosturdf_right_arm.urdf" />
      <arg name="taskFile" value="$(find mobiman)/config/task_new_r1_left.info" />
      
      <!-- The library folder to generate CppAD codegen into -->
      <arg name="libFolder_left" value="$(find mobiman)/auto_generated/r1_robot_left" />

      <param name="taskFile" value="$(arg taskFile)" />
      <param name="urdfFile_left_host" value="$(arg urdfFile_left_host)" />
      <param name="urdfFile_left_slave" value="$(arg urdfFile_left_slave)" />
      <param name="urdfFile_right" value="$(arg urdfFile_right)" />
      <param name="libFolder_left" value="$(arg libFolder_left)" />
      <param name="vel" value="true" />

      <param name="dt_scaling" value="1.2" type="double" />

      <param name="/use_sim_time" value="false" />


            <!-- The URDF model of the robot -->


      <node if="$(arg debug)" pkg="mobiman" type="mobiman_aloha_left_node" name="mobiman_aloha_left_node"
                  output="screen" launch-prefix="gdb -ex run --args" />

      <node unless="$(arg debug)" pkg="mobiman" type="mobiman_aloha_left_node"
                  name="mobiman_aloha_left_node"
                  output="screen" launch-prefix="" />
          <!-- 启动左臂节点 -->
	  <node pkg="galaxea_kinematics" type="pose_publisher_node" name="left_arm_ee_pub" output="screen">
	    <param name="arm_name" value="left_arm" />
	    <param name="urdf_file" value="$(find URDF_R1_V1_0_4)/urdf/URDF_R1_V1_0_4_fixed_torso.urdf" />
	  </node>

</launch>
