<launch>
      <!-- Enable rviz visualization -->
      <arg name="rviz" default="true" />
      <!-- Set nodes on debug mode -->
      <arg name="debug" default="false" />

      <!-- The URDF model of the robot -->
      <arg name="urdfFile" value="$(find mobiman)/../arm_1824/urdf/arm_1824.urdf" />
      <arg name="urdfFile_aloha" value="$(find mobiman)/../r1_aloha/urdf/r1_aloha.urdf" />
      <arg name="taskFile" value="$(find mobiman)/config/task.info" />
      <arg name="model" default="$(arg urdfFile_aloha)"/>
      <!-- The library folder to generate CppAD codegen into -->
      <arg name="libFolder" value="$(find mobiman)/auto_generated/x1_robot" />

      <param name="taskFile" value="$(arg taskFile)" />
      <param name="urdfFile_left" value="$(arg urdfFile)" />
      <param name="urdfFile_right" value="$(arg urdfFile)" />
      <param name="urdfFile_aloha" value="$(arg urdfFile_aloha)" />

      <param name="libFolder" value="$(arg libFolder)" />
      <param name="vel" value="true" />

      <param name="dt_scaling" value="1.2" type="double" />

      <param name="/use_sim_time" value="false" />
      <group if="$(arg rviz)">
            <include file="$(find ocs2_mobile_manipulator_ros)/launch/include/visualize.launch">
                  <arg name="urdfFile" value="$(arg urdfFile_aloha)" />
            </include>
      </group>
      <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'" />

</launch>

