<launch>
  <arg name="model" />

  <arg name="urdfFile" value="$(find mobiman)/urdf/A1/urdf/A1_URDF_0607_0028_no_gripper.urdf" />
  <arg name="taskFile" value="$(find mobiman)/config/task.info" />
  <arg name="libFolder" value="$(find mobiman)/auto_generated/x1_robot" />
  <arg name="eePose_sub_topic" value="/joint_states"/>
  <arg name="eePose_pub_topic" value="/end_effector_pose"/>
  <arg name="joint_states_sub_topic" value="/joint_states_host"/>
  <arg name="arm_joint_command_topic" value="/arm_joint_command_host"/>
  <arg name="arm_joint_target_position" value="/arm_joint_target_position"/> 
  <!-- 启动 my_rviz_node -->
  <node pkg="mobiman" type="jointTracker_demo_node"
        name="jointTracker_demo_node" output="screen" >
      <param name="joint_states_sub_topic" value="$(arg joint_states_sub_topic)"/>
      <param name="arm_joint_command_topic" value="$(arg arm_joint_command_topic)"/>
      <param name="arm_joint_target_position" value="$(arg arm_joint_target_position)"/>
      <param name="taskFile" value="$(arg taskFile)" />
      <param name="urdfFile" value="$(arg urdfFile)" />
      <param name="libFolder" value="$(arg libFolder)" />
  </node>       
  <node pkg="mobiman" type="eepose_pub_node" name="eePose_pub_node" output="screen">
    <param name="urdfFile" value="$(arg urdfFile)"/>
    <param name="ee_frame" value="arm_seg6"/>
    <param name="eePose_sub_topic" value="$(arg eePose_sub_topic)"/>
    <param name="eePose_pub_topic" value="$(arg eePose_pub_topic)"/>
  </node>
  <param
    name="robot_description"
    textfile="$(find mobiman)/urdf/A1/urdf/A1_URDF_0607_0028_no_gripper.urdf" />



  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name = "rviz"
    pkg = "rviz"
    type="rviz" 
    args = "-d $(find mobiman)/urdf/A1/A1_URDF_0607_0028.rviz"/>
</launch>
